.banner {
  background-image: linear-gradient(-225deg, rgba(0, 0,0,0.8) 1%, rgba(0, 0,0,0.23) 58%), url("../../images/bgn.jpg");
  color: white;
  padding:150px;
  background-size: cover;
}
.banner h1 {
font-size:40px;
opacity:0.8;
margin-bottom: -17px;
}

.banner h2 {
font-size:30px;
font-weight:lighter;
opacity:0.8;
margin-bottom:40px;

}
